body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

img {
    margin: 5px;
}

p {
    width: 700px;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}